<table>
  <thead>
    <tr>
      <th>Station (ID)</th>
      <th>Noms</th>
      <th>Coordonnées</th>
      <th>Etat</th>
      <th>Emplacements actuels</th>
      <th>Emplacements disponibles</th>
      <th>Vélos disponibles</th>
      <th>Dernières mises à jour</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let aVelib of velib?.records'>
      <td>{{ aVelib.fields.idstation }}</td>
      <td>{{ aVelib.fields.nom }}</td>
      <td>{{ aVelib.fields.coordonnees }}</td>
      <td>{{ aVelib.fields.etat }}</td>
      <td>{{ aVelib.fields.nombreemplacementsactuels }}</td>
      <td>{{ aVelib.fields.nombreemplacementsdisponibles }}</td>
      <td>{{ aVelib.fields.nombrevelosdisponibles }}</td>
      <td>{{ aVelib.fields.lastupdate }}</td>
    </tr>
  </tbody>
</table>