<div class="map">
  <agm-map [latitude]="latitude" [longitude]="longitude"  [zoom]="10">
    <agm-marker *ngFor='let aVelib of velib?.records' [latitude]="aVelib.fields.coordonnees[0]"
      [longitude]="aVelib.fields.coordonnees[1]" [iconUrl]="icon">

      <agm-info-window>
        <p class="h2">{{ aVelib.fields.nom }}( {{ aVelib.fields.idstation }} )</p>
        <p class="font-weight-bold">{{ aVelib.fields.etat }}</p>
        <p class="font-weight-bold text-danger">Disponibilité</p>
        <p><span class="font-italic pr-1">Vélos disponibles :</span> {{ aVelib.fields.nombrevelosdisponibles }}</p>
        <p><span class="font-italic pr-1"> Emplacements disponibles :</span> {{ aVelib.fields.nombreemplacementsdisponibles }}</p>
      </agm-info-window>

    </agm-marker>
  </agm-map>
</div>
